*{
  padding: 0;
  margin: 0;
  font-size: clamp(16px, 4vw, 24px);
  font-family:"Roboto", sans-serif;
  color: #f0f6fc;
  text-transform: capitalize;
}
html, body{
  overflow-x: hidden;
}
body{
  background-color: #010409;
}
header{
  width: 100%;
  height: auto;
}
nav{
  width: 100%;
  height: auto;
  background-color: #238636;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  border: 0.1rem solid #3d444db3;
} 
nav ul{
  margin: 0px auto;
  display: flex;
}
nav ul li{
  margin: auto;
  list-style: none;
  line-height: 11vw;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  padding: 0px 3vw;
  &:hover{
    background-color: #0d1117;
  }
}

main{
  width: 100%;
  height: auto;
}
.img{
  width: 100%;
  height: 30vh;
  margin:auto;
  background-image: url(images/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-content: center;
  position: relative;
}
.textButtonCollection{
  position: absolute;
  width: 90vw;
  height: fit-content;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titleBox{
  width: fit-content;
  height: fit-content;
  padding: 1rem;
}

.titleBox > h1{
  font-size: 25px;
}

.textButtonCollection a{
  width: fit-content;
  padding: 1vw;
  margin: 0px 14px;
  text-decoration: none;
  background-color: #238636;

}
.textBox{
  width: 95%;
  height: 50vh;
  border: 0.1rem solid #3d444db3;
  margin: auto;
  padding: 2rem 0px;
  overflow-y: auto;
}
main > h1{
  text-align: center;
  padding: 2vh;
  letter-spacing: 0.3rem;
}
.textBox p{
  text-align: center;
  font-weight: 250;
}
.skillBox{
  width: 95%;
  min-height: 24vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:2vw auto;
  border: 0.1rem solid #3d444db3;
  cursor:pointer;
  padding: 2rem 0px;
}
.skillBox .box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0px;
  
}
.skillBox h2{
  text-transform: capitalize;
  padding: 2vw;
  color: #4493f8;
}
.skillBox > .box > p{
  padding: 3vw;
  margin: auto;
  border: 0.1rem solid #3d444db3;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0.5rem 1.3rem;
}
.projectContainer{
  width: 95%;
  height: fit-content;
  max-height:70vh;
  overflow-y: auto;
  border: 0.1rem solid #3d444db3;
  margin: auto;
  padding: 1rem 0px;
}
.projectBox{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project{
  width: 85%;
  height: 15vh;
  border-radius: 5px;
  padding: 3vh 15px;
  text-align: center;
  background-color: #0d1117;
  text-transform: capitalize;
  cursor: pointer;
  margin:0.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover{
    background-color: #238636;
  }
}
.contact{
  width: 95%;
  height: auto;
  border: 0.1rem solid #3d444db3;
  margin: auto;
  padding: 2rem 0px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
label{
  display: block;
  width: 95%;
  margin: auto;
  padding: 0.3rem 0px;
}
input{
  display: block;
  width: 95%;
  height: 10vw;
  background-color: #0d1117;
  border-style:none;
  border-radius: 0.5rem;
  margin: auto;
  color: #238636;
  &:focus{
    outline:none;
    border: none;
  }
}
input[id="email"]{
  text-transform: lowercase;
}
textarea{
  display: block;
  height: 15vh;
  width: 95%;
  border-style:none;
  border-radius: 0.5rem;
  background-color: #0d1117;
  color: #238636;
  text-transform: lowercase;
  &:focus{
    outline: none;
    border: none;
  }
}
.buttonBox{
  width: 100%;
  display: flex;
}
button{
  width: fit-content;
  padding: 0.3rem 1rem;
  background-color: #238636;
  text-align: center;
  border: none;
  margin: auto;
  &:focus{
    border: none;
    outline: none;
    background-color: #186328;
  }
}
.primaryFooter{
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d1117;
}
.primaryFooter > .iconBox {
  width: 100%;
  height: auto;
  /* background-color: white; */
  display: flex;
  padding: 0.5rem 0px;
}

.iconBox a {
  display: block;
  margin:auto;
}

.iconBox a img {
  width: 8vw;
  height: 8vw;
}

.secondaryFooter{
  width: 100%;
  height: auto;
  padding: 0.5rem 0px;
}
.secondaryFooter p{
  text-align: center;
  color: #3d444db3;
  font-size: smaller;
}

.secondaryFooter+br+br+br+nav{
  display:block;
}